﻿@addTagHelper "*, Microsoft.ASPNetCore.Mvc.TagHelpers"

	@if (ViewData["TotalTime"] == null)
	{
		<form method="post" asp-controller="TimeCalculator" asp-action="Index">
			<div>
				<label for="Hours">Hours: </label> <br />
				<input type="text" name="Hours" />
			</div>
	
			<div>
				<label for="Hours">Minutes: </label> <br />
				<input type="text" name="Minutes" />
			</div>

			<div>
				<label for="Hours">Seconds: </label> <br />
				<input type="text" name="Seconds" />
			</div>
			<div>
				<input type="submit" value="Calculate time" />
			</div>
		</form>
	}
	else
	{
		@String.Format("{0} hours + {1} minutes + {2} seconds = {3} Minutes", ViewData["Hours"], ViewData["Minutes"], ViewData["Seconds"], ViewData["TotalTime"])
		<form method="post" asp-controller="TimeCalculator" asp-action="Restart"
		<div>
			<input type="submit" value="Reset" />
		</div>
	}