﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>@ViewData["name"]</h1>
<h1>@ViewData["age"]</h1>
<h1>@String.Format("Fødselsdato: {0}/{1}/{2}",ViewData["birthday"], ViewData["birthmonth"], ViewData["birthyear"])</h1>

<a href="/rockband">Rockbands</a>

<a href="/TimeCalculator">Time calc</a>

<li><a asp-area="about" asp-controller="Home" asp-action="About">Home</a></li>